.header {
  
  &__nav {
    background-color: $primary-bc;

    &-toggleText {
      background-color: transparent;
      @include respond(tab-land) { display: none; }
    }
  }

  &__subNav {
    padding: 1rem 0;
  }

  &__subNavTitle {
    display: inline-block;
    width: 60%;
    @include respond(tab-port) { width: 100%; }
  }

  &__title { display: inline-block; }

  &__breadcrumb {
    float: right;
    margin-top: 1.2rem;
    @include respond(tab-port) { display: none; }

    &-item {
      display: inline-block;
      margin-left: 5px;

      &::before {
        content: '>';
        margin-right: 5px;
      }

      &:first-child::before {
        content: '';
        position: absolute;
      }
    }
  }
}

.userDropdown {
  position: absolute;
  right: 0;
  top: 57px;
  width: 300px;
  background: $primary-cl;
  z-index: 7;
  box-shadow: $droppable-menu-shadow;
  display: none;
}