.title {

  &--h1 {
    font-weight: 400;

    &-plus {
      text-transform: capitalize;
    }
  }

  &--h2 {
    font-weight: 300;
    font-size: 2rem;
    text-transform: capitalize;
  }

  &--h3 {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.6rem;
  }
}