@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700');

html {
  font-size: $default-fs;
}

body {
  font-family: $primary-font;
  font-size: $normal-fs;
  font-weight: 400;
}
